<% content_for :body do %>
<div id="half"></div>
<div id="signin">
  <%= render 'shared/signin_title', :s => 'Sign In' %>
  <div id="signin-main">
    <%= form_for(:session, :url => sessions_path) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>
      <div class="clearfix" id="signin-actions">
        <div class="field left">
          <%= f.label :remember_me -%>
          <%= check_box_tag :remember_me, 1, params[:remember_me] -%>
        </div>
        <div class="actions right">
          <%= f.submit "Sign in" %>
        </div>
      </div><!--signin-actions-->
    <% end %><!--form_for-->
    <div class="clearfix" id="signin-footer">
      <div id="new-user" class="left"> New user?
        <%= link_to "Sign up now!", signup_path %>
      </div>
      <div id="forgot" class="right">
        <%= link_to "Forgot your password?", new_password_reset_path %>
      </div>
    </div>
  </div><!--signin-main-->
</div><!--signin-->
<% end %>
