<% content_for :body do %>
  <div id="half"></div>
  <div id="signin">
    <%= render 'shared/signin_title', :s => 'Reset Password' %>
    <%= form_for @user, :url => password_reset_path(params[:id]) do |f| %>
      <%= render 'shared/error_messages', :object => @user %>
      <%= render 'shared/error_messages', :object => @pw_reset %>
      <div id="signin-main">
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label "Confirmation" %><br />
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="clearfix" id="signin-actions">
          <div class="actions right">
            <%= f.submit "Update Password" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
