<% content_for :body do %>
  <div id="half"></div>
  <div id="signin">
    <%= form_tag password_resets_path, :method => :post do %>
      <%= render 'shared/signin_title', :s => 'Reset Password' %>
      <div id="signin-main">
        <div class="field">
          <%= label_tag :email %><br />
          <%= text_field :email, params[:email] %>
        </div>
        <div class="clearfix" id="signin-actions">
          <div class="actions right">
            <%= submit_tag "Reset Password" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
