<div>
  Some new content has been posted that you should checkout:
  <% if @posts.count > 0 %>
    <p>
      Blog Posts:
      <% @posts.each do |post| %>
        <div>
          <%= link_to post.title, post_url(post) %> by 
            <%= post.user.resident.first_name + ' ' + post.user.resident.last_name %>
        </div>
      <% end %> 
    </p>
  <% end %>
  <% if @events.count > 0 %>
    <p>
      Events:
      <% @events.each do |event| %>
        <div>
          <%= link_to event.name, event_url(event) %> starts 
            <%= timestamp(event.start_at) %> by 
            <%= event.user.resident.first_name + ' ' + event.user.resident.last_name %>
        </div>
      <% end %> 
    </p>
  <% end %>
  <% if @documents.count > 0 %>
    <p>
      Documents:
      <% @documents.each do |document| %>
        <div>
          <%= link_to document.title, document.url, target: "_blank" %> by
            <%= "#{document.user.resident.first_name} #{document.user.resident.last_name}" %>
        </div>
      <% end %>
    </p>
  <% end %> 
</div>
