<%= render 'shared/error_messages', :object => @position %>
<div class="field">
  <%= f.label :rank %><br />
  <%= f.text_field :rank %>
</div>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
