<tr>
  <td><%= position.rank %></td>
  <td><%= position.name %></td>
  <% permitted_to? :destroy, position do %>
    <td>
      <%= link_to 'assign', edit_assignment_path(position) %>
      <%= link_to 'edit', edit_position_path(position) %>
      <%= link_to 'delete', position, :method => :delete, :confirm => 'You sure?',
                                      :title => "Delete #{position.name}" %>
    </td>
  <% end %>
</tr>
