<h1>AHOA Officers</h1>
<ul class="plain-list clearfix">
  <% @users.each do |u| %>
    <li style="margin:0 10px 10px 10px;float:left;text-align:center;">
      <%= gravatar_for(u.resident, { :size => 100 }) %><br />
      <%= link_to "#{u.resident.first_name} #{u.resident.last_name}",
        resident_path(u.resident) %>
      <% if u.position %>
      -&nbsp;<%= u.position.name %>  
      <% end %>
    </li>
  <% end %>
</ul>
