<h1><%= @position.name %></h1>

<%= form_tag '/positions/' + @position.id.to_s + '/update_assignment',
  :method => :post do -%>
  <% for user in @users %>
    <div>
      <%= radio_button_tag "user_id[]", user.id, @position.user_id==user.id %>
      <%= user.resident.first_name + ' ' + user.resident.last_name %>
    </div>
  <% end %>
  <div>
    <%= radio_button_tag "user_id[]", 0, @position.user_id.nil? %>
    None
  </div>
  <%= submit_tag 'Update Assignment' %>
<% end %>
