<%= render :partial => 'shared/action_bar',
  :locals => { :target => :positions,
               :title => 'Positions', 
               :link_title => 'Create Position',
               :link_path => new_position_path }
 %>

<table class="positions">
  <%= render @positions %>
</table>
