Thank you <%= @user.resident.first_name + ' ' + @user.resident.last_name %> for signing-up with AmblesideCommunity.org.  Once your account is activated by an AHOA officer, you will receive another email letting you know that you can sign-in.