<h6>Leave a comment</h6>

<%= form_for @comment, url: { action: 'add_comment' } do |f| %>
  <div class="field">
    <%= f.text_area :body %> 
  </div>
  <div class="actions">
    <%= f.submit 'Post' %>
  </div>
<% end %>
  
