<%= render 'shared/error_messages', :object => @user %>
<% if !@resident.user.nil? %>
  <div>
    <%= gravatar_for @user.resident, :size => 100 %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
<% end %>
<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />
</div>
<%= f.fields_for(@resident) do |rf| %>
  <%= render 'residents/fields', :f => rf %> 
<% end %>
