<tr>
  <td>
    <%= link_to user.resident.last_name + ', ' + 
      user.resident.first_name, user %>
  </td>
  <td>
    <%= user.sign_in %>
  </td>
  <td>
    <% user.roles.each do |r| %>
      <%= "#{r.name} " %>
    <% end %>
  </td>
  <td>
    <% permitted_to? :toggle_active, user do %> 
      <% if user.assignments.empty? %>
        <%= link_to 'roles', edit_roles_path(user.id),
          style: "font-weight:bold;font-size:1.25em;color:Red;" %>
      <% else %>
        <%= link_to 'roles', edit_roles_path(user.id) %>
      <% end %>
      <% if !user.is_active? %>
        <% if user.password_reset_token %>
          <%= link_to 'activated', toggle_active_path(user.id),
            style: "color:Green;" %>
        <% else %>
          <%= link_to 'activate', toggle_active_path(user.id),
            style: "font-weight:bold;font-size:1.25em;color:Red;" %>
        <% end %>
      <% else %>
        <%= link_to 'deactivate', toggle_active_path(user.id),
          :confirm => "You sure?",
          :title => "#{user.email}"  %>
      <% end %>
      <% permitted_to? :destroy, user do %>
      <%= link_to 'edit', edit_user_path(user.id) %>
      <%= link_to 'delete', user, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete #{user.email}" %>
      <% end %>
    <% end %>
  </td>
</tr>
