<h1><%= @user.resident.first_name + ' ' + 
  @user.resident.last_name %></h1>

<%= form_tag '/users/' + @user.id.to_s + '/update_roles', :method => :post do -%>
  <% for r in Role.all %>
    <div>
      <%= check_box_tag "role_ids[]", r.id, @user.roles.include?(r) %>
      <%= r.name %>
    </div>
  <% end %>
  <br />
  <%= submit_tag 'Update roles' %>
<% end %>
