<% content_for :body do %>
  <div id="su-half"></div>
  <div id="signup">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/signin_title', :s => 'Sign Up' %>
      <div class="clearfix" id="signin-main">
        <%= render 'fields', :f => f %>
        <div class="clearfix" id="signin-actions">
          <div class="actions right">
            <%= f.submit "Sign up" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
