<ul class="plain-list">
  <li>
    <%= gravatar_for(@user.resident, { :size => 100 }) %>
  </li>
  <li>
    <h1>
      <%= @user.resident.first_name + ' ' +
        @user.resident.last_name %>
    </h1>
  </li>
  <% if !@user.position.nil? %>
    <li class="show-value">
      <%= 'AHOA ' + @user.position.name %>
    </li>
  <% end %>
  <li class="show-value">
    <%= mail_to @user.email, @user.email, :encode => 'hex' %>
  </li>
  <li class="show-value">
    <%= "(#{@user.resident.phone_area_code})
      #{@user.resident.phone_prefix}-#{@user.resident.phone_suffix}" %>
  </li>
  <li class="show-value">
    <%= @user.resident.residence.street_number.to_s + ' ' +
      @user.resident.residence.street_name %>
  </li>
  <li class="show-value">
    <%= link_to 'edit Me', edit_user_path(@user) %>
  </li>
</ul>
