<nav>
  <ul class="clearfix">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <% if permitted_to? :index, :residents %>
      <li class="drop-down-root"><%= link_to 'Community', community_path %>
        <ul class="profile-drop-down">
          <li><%= link_to 'Residents', residents_path %></li>
          <li><%= link_to 'Blog', blog_path %></li>
          <li><%= link_to 'Events', events_path %></li>
        </ul>
      </li>
      <% permitted_to? :ahoa, :positions do %>
        <li class="drop-down-root"><%= link_to 'AHOA', ahoa_path %>
          <ul class="profile-drop-down">
            <% permitted_to? :destroy, :positions do %>
              <li><%= link_to 'Positions', positions_path %></li>
            <% end %>
            <li><%= link_to 'Documents', documents_path %></li>
            <li><%= link_to 'Dues', dues_path %></li>
          </ul>
        </li>
      <li class="drop-down-root"><%= link_to 'Me', current_user %>
        <ul class="nav-last profile-drop-down">
          <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
          <li><%= link_to 'Sign out', signout_path, :method => :delete %></li>
        </ul>
      </li>
      <% end %>
      <% permitted_to? :toggle_active, :users do %>
        <li class="drop-down-root">Admin
          <ul class="nav-last profile-drop-down">
            <li><%= link_to 'Users', users_path %></li>
          </ul>
        </li>
      <% end %>
    <% else %>
    <li><%= link_to 'Sign in', signin_path %></li>
    <% end %>
  </ul>
</nav>
