<div class="clearfix" id="signin-title">
  <div style="float:left;">
    <%= s %>  
  </div>
  <div id="small-nav">
    <%= link_to 'Home', root_path %> /  
    <%= link_to 'About', about_path %>
  </div>
</div>
