<% permitted_to? :destroy, event do %>
  <div class="action-right"> 
    <%= link_to 'edit', edit_event_path(event) %>
    <%= link_to 'delete', event, :method => :delete, :confirm => 'You sure?',
      :title => "Delete #{event.name}" %>
  </div>
<% end %>
