<%= render 'shared/error_messages', :object => @event %>
<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name %><br />
</div>
<div class="field">
  <%= f.label :location %><br />
  <%= f.text_field :location %><br />
</div>
<div class="field">
  <%= f.label :start_at %><br />
  <%= datetime_select('event', 'start_at', :ampm => true) %><br />
</div>
<div class="field">
  <%= f.label :end_at %><br />
  <%= datetime_select('event', 'end_at', :ampm => true) %><br />
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description %><br />
</div>
