<div class="clearfix">
  <h1 class="show-title">
    <%= @event.name %>
  </h1>
  <div class="action-index-right">
    <%= render 'action', :event=> @event %>
  </div>
</div>
<div>By <%= link_to "#{@event.user.resident.first_name} #{@event.user.resident.last_name}", 
  @event.user.resident %><%= " - #{timestamp(@event.updated_at)}" %></div>
<div><span class="bold">Where:</span> <%= @event.location %></div>
<div><span class="bold">From:</span> <%= timestamp(@event.start_at) %>
<span class="bold">To:</span> <%= timestamp(@event.end_at) %></div>
<div><span class="bold">Info:</span> <%= @event.description %></div>
<div class="horizontal-line"></div>
