<input type="hidden" name="return" value="https://ambleside.heroku.com/community">
<input type="hidden" name="cancel_return" value="https://ambleside.heroku.com/community">
<input type="hidden" name="address1" value="<%= "#{current_user.resident.residence.street_number} #{current_user.resident.residence.street_name}" %>">
<input type="hidden" name="city" value="Bremerton">
<input type="hidden" name="country" value="US">
<input type="hidden" name="first_name" value="<%= current_user.resident.first_name %>">
<input type="hidden" name="last_name" value="<%= current_user.resident.last_name %>">
<input type="hidden" name="night_phone_a" value="<%= current_user.resident.phone_area_code %>">
<input type="hidden" name="night_phone_b" value="<%= current_user.resident.phone_prefix %>">
<input type="hidden" name="night_phone_c" value="<%= current_user.resident.phone_suffix %>">
<input type="hidden" name="state" value="WA">
<input type="hidden" name="zip" value="98311">
