<% content_for :meta do %>
<meta name="description" content="Ambleside was designed in the late 1980’s by Dr. Austin Case, owner of the Illahee Manor immediately to the east of Ambleside. In a letter to early residents Dr. Case wrote that “The original intent of Ambleside was to offer the pleasures of homes built around a village green such as in many of the small English villages. Ambleside’s name comes from a small village in the Lake Country in Northern England.” The streets were named after the English villages of Ambleside, Grasmere and Troutbeck." />
<% end %>
<% content_for :body do %>
  <div id="about-wrapper">
    <div class="content">
      <h1><%= @title %></h1>
      <div><p>Ambleside was designed in the late 1980’s by Dr. Austin Case, owner of the Illahee Manor immediately to the east of Ambleside. In a letter to early residents Dr. Case wrote that “The original intent of Ambleside was to offer the pleasures of homes built around a village green such as in many of the small English villages. Ambleside’s name comes from a small village in the Lake Country in Northern England.” The streets were named after the English villages of Ambleside, Grasmere and Troutbeck.</p>
      <p>Dr. Case enlisted the help of his friend Richard Haag to design the common areas in Ambleside. Richard Haag, UW Emeritus Professor of Landscape Architecture, is an internationally known landscape architect. He is best known in this area as the designer of Gas Works Park in Seattle and the Sequence of Gardens at the Bloedel Reserve on Bainbridge Island. Haag designed the ponds, the open areas around the ponds, and the forested trails in Ambleside. He also specified the plants that were used around the ponds and the entrances to Ambleside.</p>
      <p>The ponds in Ambleside are unique in Kitsap County. The ponds were designed by Haag to serve as retention ponds, a requirement for all housing developments. He included a waterfall and numerous special plants, shrubs and trees. Ambleside appears to be the first, and last, development that was allowed to design a retention pond with waterfalls, special plantings, a natural shape, and no fence.</p>
      <p>Dr. Case included a privacy buffer around Ambleside, saying “we are leaving a 20 foot green belt around the inside of the entire 22 acres. Kitsap County owns all outside our fence and we can do nothing there without their permission. The inside first 20 feet is to be natural and provide a ‘green’ screen between us and the roads and vice versa.” The ‘green screen’ was ceded to the Ambleside Homeowners Association as a 20 foot no-cut buffer in the Ambleside plats filed with Kitsap County.</p>
      <p style="margin:0;">Ambleside was developed in 3 phases. Phase 1, which included lots 1-15, was filed with Kitsap County in 1990. A comprehensive set of Covenants, Conditions Restrictions (CCR’s) were also filed in 1990. Phase 2, comprising lots 16-20 and 39-48, was filed in 1994. Phase 3, comprising lots 21-38, was filed in 2004. Restrictions in the Kitsap County plats for Ambleside state that the Homeowners Association is responsible for the perpetual maintenance of the roads, storm drainage facilities, recreational facilities and common open spaces.</p>
      </div>
      <%= render '/layouts/copyright' %>
    </div>
    <div class="bg"></div>
  </div>
<% end %>
