<div class="clearfix" style="margin-bottom:1em;"> 
  <div class="ccolumn ccolumn-left"> 
    <h3 class="ccolumn-header"> 
      Latest Posts
    </h3>
    <% @posts.each do |p| %>
      <div class="community-item"> 
        <%= link_to p.title, p %> by 
        <%= link_to p.user.resident.first_name + ' ' + 
          p.user.resident.last_name, p.user.resident %>
        <span style="white-space:nowrap;">
          <%= timestamp(p.updated_at) %>
        </span>
      </div>
    <% end %>
    <% if @posts.count > 10 %>
      <div><%= link_to 'All Posts...', posts_path %></div>
    <% end %>
    <h3 class="ccolumn-header" style="margin-top:1em;">
      Newest Documents
    </h3>
    <% @documents.each do |d| %>
      <div class="community-item">
        <%= link_to d.title , d.url, target: '_blank' %>
      </div>
    <% end %>
    <% if @documents.count > 10 %>
      <div><%= link_to 'All Documents...', documents_path %></div>
    <% end %>
  </div>
  <% if @events.length > 0 %>
    <div class="ccolumn ccolumn-right"> 
      <h3 class="ccolumn-header"> 
        Upcoming Events
      </h3>
      <% @events.each do |e| %>
        <div class="community-item">
          <%= link_to e.name, e %>,
          <span style="white-space:nowrap;">
            <%= timestamp(e.start_at) %>
          </span>
        </div>
      <% end %>
      <% if @events.count > 10 %>
        <div><%= link_to 'All Events...', events_path %></div>
      <% end %>
    </div>
  <% end %>
</div>
