<% content_for :meta do %>
<meta name="description" content="Contact the Ambleside Homeowner's Assocation." />
<% end %>
<% content_for :body do %>
<div id="contact-wrapper">
  <div class="content">
    <h1><%= @title %></h1>
    <p>
      Contact the Ambleside Homeowner's Association.
    </p>
    <%= render 'layouts/copyright' %>
  </div>
  <div class="bg"></div>
</div>
<% end %>
