<div class="clearfix">
  <div class="pay" id="pay-recur">
    <p>Select this option if you want to setup recurring payments.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" 
			target="_blank">
    <input type="hidden" name="cmd" value="_xclick-subscriptions">
    <input type="hidden" name="business" value="anorvold@comcast.net">
		<input type="hidden" name="image_url" value="https://lh4.googleusercontent.com/-I5UX_Qu9TXE/T7RxdUuWm4I/AAAAAAAAACI/xlVaW--fsaQ/s800/ambleside_logo_paypal.png">
		<input type="hidden" name="return" value="https://ambleside.heroku.com/community">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="AHOA Dues">
    <input type="hidden" name="no_note" value="1">
    <input type="hidden" name="src" value="1">
    <input type="hidden" name="a3" value="129.67">
    <input type="hidden" name="p3" value="3">
    <input type="hidden" name="t3" value="M">
    <input type="hidden" name="modify" value="1">
    <input type="hidden" name="currency_code" value="USD">
    <%= render 'auto_pay' %>
    <input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_US/IL/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <div style="margin-top:1em;">
      <A HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=anorvold%40comcast%2enet" 
				_fcksavedurl="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=anorvold%40comcast%2enet" 
				target="_blank">
<IMG BORDER="0"SRC="https://www.paypal.com/en_US/i/btn/btn_unsubscribe_LG.gif"></A> 
    </div>
  </div>
  <div class="pay" id="pay-onetime">
    <p>Select this option if you want to make a one-time payment.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" 
			target="_blank">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="anorvold@comcast.net">
		<input type="hidden" name="image_url" value="https://lh4.googleusercontent.com/-I5UX_Qu9TXE/T7RxdUuWm4I/AAAAAAAAACI/xlVaW--fsaQ/s800/ambleside_logo_paypal.png">
		<input type="hidden" name="return" value="https://ambleside.heroku.com/community">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="AHOA Dues">
    <input type="hidden" name="amount" value="129.67">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="button_subtype" value="services">
    <input type="hidden" name="no_note" value="0">
    <%= render 'auto_pay' %>
    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_US/IL/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>

