<% content_for :meta do %>
  <meta name="description" content="
    Ambleside is a unique development in Bremerton Washington
    that includes 48 home sites on 12 acres and 10 acres of
    common areas including roads, forests, ponds, water falls,
    grass fields, walking trails and a 20 foot natural vegetation
    buffer around the entire community. The gated entrances
    enhance the security and peaceful ambience of Ambleside." />
<% end %>
<% content_for :footer do %>
  <div id="content-wrapper">
    <div class="content" style="padding:10px;">
      <p style="margin-bottom:0;">
        Ambleside is a unique development in Bremerton Washington
        that includes 48 home sites on 12 acres and 10 acres of
        common areas including roads, forests, ponds, water falls,
        grass fields, walking trails and a 20 foot natural vegetation
        buffer around the entire community. The gated entrances
        enhance the security and peaceful ambience of Ambleside.
        <br /><br />
        <a target="_blank" href="https://maps.google.com/maps?q=47.624595,+-122.599370&amp;hl=en&amp;ll=47.62453,-122.5993&amp;spn=0.00354,0.004726&amp;sll=47.648275,-122.755051&amp;sspn=0.452863,0.604935&amp;vpsrc=6&amp;t=h&amp;z=18">See it on a map!</a>
      </p>
    </div>
    <div class="bg"></div>
    <%= render '/layouts/copyright' %>
  </div>
<% end %>
