<% permitted_to? :destroy, document do %>
  <div class="action-right"> 
    <%= link_to 'edit', edit_document_path(document) %>
    <%= link_to 'delete', document, :method => :delete, :confirm => 'You sure?',
      :title => "Delete #{document.title}" %>
  </div>
<% end %>
