<div class="origin-meta"> 
  <%= timestamp(document.updated_at) %> by 
  <%= link_to "#{document.user.resident.first_name} #{document.user.resident.last_name}",
    resident_path(document.user.resident) %>
</div>
