<tr>
  <td><%= link_to document.title, document.url, target: "_blank" %></td>
  <td><%= link_to "#{document.user.resident.first_name} #{document.user.resident.last_name}", document.user.resident %></td>
  <% permitted_to? :destroy, document do %>
    <td style="text-align:right;"><%= link_to 'edit', edit_document_path(document) %>&nbsp;
    <%= link_to 'delete', document, confirm: 'Are you sure?', method: :delete %></td>
  <% end %>
</tr>
