<%= render partial: 'shared/action_bar',
  locals: { target:     :documents,
            link_title: 'Create Document',
            link_path:  new_document_path }
%>
<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th style="text-align:right;">Actions</th>
  </tr>
<%= render @documents %>
</table>
