<%= render 'shared/error_messages', :object => @resident %>
<div class="field">
  <%= f.label :last_name %><br />
  <%= f.text_field :last_name %><br />
</div>
<div class="field">
  <%= f.label :first_name %><br />
  <%= f.text_field :first_name %><br />
</div>
<div class="clearfix">
  <div><%= label_tag 'Phone' %></div>
  <div class="field float-left" id="area_code">
    <%= f.text_field :phone_area_code, :size => 3, :maxlength => 3 %><br />
  </div>
  <div class="field float-left" id="prefix">
    <%= f.text_field :phone_prefix, :size => 3, :maxlength => 3 %><br />
  </div>
  <div class="field float-left" id="suffix">
    <%= f.text_field :phone_suffix, :size => 4, :maxlength => 4 %><br />
  </div>
</div>
<%= f.fields_for(@residence) do |rf| %>
  <%= render 'residences/fields', :f => rf %>
<% end %>
