<% info = { :good => false, :email => '' }
   if !resident.user.nil?
     info[:good] = true
     info[:email] = resident.user.email
   end
%>
<tr>
  <td><%= resident.residence.lot_number %></td>
  <td> 
    <%= link_to resident.last_name + ', ' +
      resident.first_name, resident %>
  </td>
  <td>
    <% if info[:good] %>
      <%= mail_to info[:email], info[:email], :encode => 'hex' %>
    <% end %>
  </td>
  <td>
    <%= resident.residence.street_number.to_s + ' ' + 
      resident.residence.street_name  %>
  </td>
  <td>
    <%= "(#{resident.phone_area_code})
      #{resident.phone_prefix}-#{resident.phone_suffix}" %>
  </td>
    <td class="right-align">
    <% permitted_to? :destroy, resident do %>
      <%= link_to 'edit', edit_resident_path(resident) %>
      <%= link_to 'delete', resident, :method => :delete, :confirm => 'You sure?',
                                      :title => "Delete #{resident.first_name +
                                      ' ' + resident.last_name}" %>
    <% end %>
  </td>
</li>
