<div class="action-bar clearfix">
  <% if permitted_to? :create, :residents %>
    <div class="action-button" style="margin-right:.25em;">
      <%= link_to 'Create Resident', new_resident_path %>
    </div>
  <% end %>
  <div class="action-button">
    <%= link_to 'Save to File', get_csv_path %>
  </div>
</div>
<table class="residents">
  <tr>
    <th>Lot Number</th>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Phone</th>
    <% permitted_to? :destroy, :residents do %>
      <th class="right-align">Actions</th>
    <% end %>
  </tr>
  <%= render @residents %>
</table>
