<ul class="plain-list">
  <li>
    <% if !@resident.user.nil? %>
      <%= gravatar_for(@resident, { :size => 100 }) %>
    <% end %>
  </li>
  <li>
    <h1>
      <%= @resident.first_name + ' ' + 
        @resident.last_name %>
    </h1>
  </li>
  <% if !@resident.user.nil? %>
    <% if !@resident.user.position.nil? %>
      <li class="show-value">
        <%= 'AHOA ' + @resident.user.position.name %>
      </li>
    <% end %>
    <li class="show-value">
      <%= mail_to @resident.user.email, @resident.user.email, :encode => 'hex' %>
    </li>
  <% end %>
  <li class="show-value">
    <%= "(#{@resident.phone_area_code})
      #{@resident.phone_prefix}-#{@resident.phone_suffix}" %>
  </li>
  <li class="show-value">
    <%= @resident.residence.street_number.to_s + ' ' + @resident.residence.street_name %>
  </li>
</ul>
