<% permitted_to? :destroy, post do %>
  <div class="action-right"> 
    <%= link_to 'edit', edit_post_path(post) %>
    <%= link_to 'delete', post, :method => :delete, :confirm => 'You sure?',
      :title => "Delete #{post.title}" %>
  </div>
<% end %>
