<%= render 'shared/error_messages', :object => @post %>
<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %><br />
</div>
<div class="field">
  <%= f.label :body %><br />
  <%= tinymce_assets %>
  <%= f.text_area :body, :class => "tinymce editor" %><br />
  <%= tinymce %>
</div>
