<div class="clearfix">
  <h3 class="show-title"> 
    <div> 
      <%= link_to post.title, post %>
    </div>
  </h3>
  <div class="action-index-right">
    <%= render 'action', :post => post %>
  </div>
</div>
<%= render 'creation_snippet', :post => post %>
<% if post.comments.length > 0 %>
  <span style="font-style:normal;color:Green;">
    <%= "#{post.comments.length} comments" %>
  </span>
<% end %>
<div>
  <% summary = strip_tags(post.body) %>
  <%= summary.length >= 300 ? summary[0, 299] + ' ' + 
    link_to('More...', post_path(post)) : 
    summary %>
</div>
<div class="horizontal-line"></div>
