<div class="clearfix">
  <h1 class="show-title">
    <%= @post.title %>
  </h1>
  <%= render 'action', :post => @post %>
</div>
<%= render 'creation_snippet', :post => @post %>
<div style="margin-top:.75em;">
  <%= @post.body.html_safe %>
</div>
<% if @comments.length > 0 %>
  <h3>Comments</h3>
  <div style="background:#ececec;border:1px solid #d2d2d2;padding:.5em;">
    <% @comments.each do |c| %>
      <div style="margin-bottom:1em;">
        <div><%= link_to "#{c.user.resident.first_name} 
          #{c.user.resident.last_name}", c.user.resident %> 
          <span style="font-style:italic;"><%= " - #{timestamp(c.updated_at)}" %></span>
          <% permitted_to? :destroy, c do %>
            <span><%= link_to 'delete', c, method: :delete, confirm: 'You sure?',
              title: 'Delete comment' %>
            </span>
          <% end %>
        </div>
        <div><%= c.body %></div>
      </div>
    <% end %>
  </div>
<% end %>
<div class="horizontal-line"></div>
<%= render 'comments/new' %>
