/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require blueprint/screen
 *= require_self
 *= require base
 *= require posts
 *= require events
*/

/* typography */
.action-right { font-size:1.25em; }
.action-index-right { font-size:1em }
.bold { font-weight:bold; }
.origin-meta { font-style:italic; }

/* layout */
.clearfix:before,
.clearfix:after {
      content:"";
          display:table;
}
.clearfix:after {
      clear:both;
}
.clearfix {
      zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.show-title
{
  margin-bottom:.125em;
  float:left;
}

.action-right { float:right; }
