/* =Typography */
a { text-decoration:none; }
nav 
{ 
  font-size:1.5em; 
  margin-bottom:.25em;
}
nav ul { list-style-type:none; }
#error_explanation
{
  font-weight:bold;
  font-size:12px;
}
#error_explanation ul li { font-size:12px; }
.show-value { font-size:1.25em; }

/* =Layout */
header 
{ 
  margin-bottom:1em;
  padding:0 2em;
  border-bottom:5px solid;
}

.profile-drop-down
{
  display:none;
  position:absolute;
  left:0;
  z-index:10 !important;
  padding:.5em;
  background:#d0d0d0;
  border-radius:0 0 5px 5px;
  font-size:.8em;
}

.flash { margin-bottom:0; }

@media screen and (min-width:705px)
{
  header 
  {
    text-align:left; 
    position:relative;
  }

  nav
  {
    position:absolute;
    bottom:0;
    right:1em;
  }

}

.nav-last
{
  right:0;
  left:auto;
}

nav ul 
{ 
  padding:0;
  margin:0;
}
nav ul li
{
  float:left;
  margin:0 5px;
}
nav ul li a
{
  display:block;
}

.drop-down-root
{
  position:relative;
  border-radius:5px 5px 0 0;
}
.drop-down-root:hover .profile-drop-down
{
  display:block;
}
.profile-drop-down li
{
  list-style-type:none;
  padding:0;
  margin:0;
  white-space:nowrap;
  float:none;
}
.profile-drop-down li a { display:block; }

.subnav { margin-left:.5em; }
.subnav h3 { margin:0; }
.subnav ul 
{ 
  list-style-type:none; 
  margin:0;
  padding:0;
}
.subnav ul li a
{
  float:left;
  padding:.5em;
  border-radius:5px 5px 0 0;
}
.subnav ul li a { display:block; color:#ddd; }
.subnav ul li a:hover { background:#9b9b9b; color:#f1f1f1; }
.subnav ul li a.selected
{
  color:#06c;
  background:#ddd;
}
.subnav ul li a.selected:hover { color:#09f; }

.base-container-wrapper
{
  width:80%;
  max-width:1200px;
  margin:auto;
}

.base-container 
{ 
  overflow:auto;
  padding:1.5em;
}

.plain-list { list-style-type:none; }

ul.users { margin-top:1em; }
.users li { list-style:none; }

.residents, th, td
{
  line-height:1;
}
.residents td { width:auto; }
.residents tr td img
{
  display:block;
}

.right-align { text-align:right; }

.field_with_errors
{
  margin-top:10px;
  padding:2px;
  display:table;
}

#error_explanation
{
  width:60%;
  border:2px solid red;
  padding:7px;
  padding-bottom:12px;
  margin-bottom:20px;
}
#error_explanation h2
{
  text-align:left;
  padding:5px 5px 5px 15px;
  margin:-7px;
}
#error_explanation p
{
  margin-bottom:0;
  padding:5px;
}
#error_explanation ul li { list-style:square; }

.editor
{ 
  width:90%;
  margin:auto;
}

.action-bar
{
  margin-bottom:1.5em;
}
.action-button
{
  font-size:1.25em;
  border-radius:5px;
  float:left;
  padding:.35em;
}

.action-button a
{ 
  display:block; 
}

.ccolumn
{
  float:left;
}
.ccolumn-left
{
  width:57.5%;
  margin-right:2.5%;
}
.ccolumn-right
{
  width:37.5%;
  margin-left:2.5%;
}
.ccolumn-header
{
  margin-bottom:.5em;
  border-bottom:1px solid #d2d2d2;
  padding-bottom:.25em;
}
.community-item
{
  font-size:1.05em;
  margin-bottom:.125em;
}

#pay-recur
{
  float:left;
}
#pay-onetime
{
  float:right;
}
.pay
{
  width:44%;
  padding:2%;
  text-align:center;
  border:2px solid #d2d2d2;
}

/* =Color */
body { background:#858585; }

header 
{ 
  background:black url(<%= asset_path "banner.png" %>) no-repeat;
  background-size:cover;
  border-color:#5d5d5d;
}

nav * { color:#9b9b9b; }
nav a:hover { color:#d7d7d7; }
.profile-drop-down
{ 
  background:#fbfbfb;
  opacity:.9;
}
.profile-drop-down a { color:#565656; }
.profile-drop-down a:hover { color:#aaa; }

.base-container
{
  background:#e0e0e0;
  border-radius:5px;
  box-shadow:2px 2px 2px 0 #6e6e6e;
}

.action-button
{
  background:#c7c7c7;
}

.action-button:hover
{
  background:#cdcdcd;
}

.field_with_errors
{
  background-color:red;
  color:#fff;
}

#error_explanation { background-color:#f0f0f0; }
#error_explanation h2
{
  background-color:#c00;
  color:#fff;
}
#error_explanation p { color:#333; }
.float-left
{
  float:left; 
  margin-right:5px;
}

.horizontal-line
{
  height:1px;
  margin:1em;
  background:#d2d2d2;
}
