/* = Typography */
header, #copyright { text-align:center; }


/* =Layout */

#browser-warning
{
  background:#ff4d4d;
  color:#ffcccc;
  border:1px solid #cc0000;
  width:75%;
  margin:auto;
  font-size:1.5em;
}

@media all and (min-width:1px)
{
  #browser-warning { display:none; }
}

@media screen 
{
  div#preloaded-images {
       position: absolute;
          overflow: hidden;
             left: -9999px; 
                top: -9999px;
                   height: 1px;
                      width: 1px;
  }

  #backgrounds
  {
    background-image:url(<%= asset_path 'isabella_green.png' %>);
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
 
    z-index:-1;
    position:absolute;
    height:100%;
    width:100%;
  }
  
  header
  {
    margin:0;
    padding:0;
    background:none;
    border:0;
  }

  nav 
  { 
    background:#d0d0d0 url(<%= asset_path "nav_bar.png" %>) repeat-x;
    position:inherit;
    text-align:left;
  }

  .container
  {
    margin:0;
    width:100%;
  }

  #nav-bar { width:100%; }

  section
  {
    position:relative;
    width:60%;
    z-index:5;
    margin:auto;
    padding:10px 10px 0 10px;
  }

  #images-loading 
  { 
    display:none; 
    text-align:center;
  }

  .content 
  {
    position:relative; 
    z-index:5; 
  }

  .bg
  {
    position:absolute;
    height:100%;
    width:100%;
    opacity:.75;
    filter:alpha(opacity=75);
    top:0;
    left:0;
    z-index:1;
    border-radius:15px;
  }

  footer #copyright
  {
    z-index:5;
    position:relative;
  }
}
@media screen and (min-width:665px) and (min-height:400px)
{
  #logo
  {
    float:left;
    z-index:3;
    position:relative;
    width:1%;
  }

  nav
  {
    right:0;
    z-index:1;
    position:relative;
    height:2em;
    top:52px;
  }
  nav ul
  {
    margin:0 10px 0 0;
    padding:0;
    float:right;
    position:relative;
    /* maybe use padding on nav instead? */
    top:4px;
  }
  nav ul li
  {
    float:left;
  }
  .profile-drop-down
  {
    right:0;
    left:auto;
    padding:.5em;
    margin:0;
    top:auto;
  }
  
  section
  {
    position:relative;
    z-index:5;
    width:60%;
    margin:auto;
    padding:10px 10px 0 10px;
  }
  .content
  {
    z-index:5;
    position:relative;
  }

  footer
  {
    position:absolute;
    bottom:0;
    width:100%;
  }
  footer #copyright
  {
    background:url(<%= asset_path "nav_bar.png" %>) repeat-x top left;
    z-index:5;
    position:relative;
    border-radius:0 0 15px 15px;
  }
  #copyright { padding:5px; }
}/* end of media query */

section
{
  margin-top:2em;
}

#about-wrapper, #contact-wrapper 
{ 
  position:relative;
  max-width:700px;
  padding:10px 10px 0 10px;
  margin:auto;
}
#content-wrapper 
{ 
  width:60%;
  position:relative;
  margin:auto;
  max-width:510px; 
}

/* =Color */
body { color:gray; }
nav * { color:#888; }
nav li a:hover { color:#09f; }
section * { color:white; }
footer * { color:white; }
footer #copyright a:hover { color:#09F; }
.bg { background:#5a5a5a; }
@media screen and (min-width:665px) and (min-height:400px)
{
  footer #copyright a, footer #copyright { color:#5d5d5d; }
}
