/*
  *= require pages
*/

html { height:100%; }
body { height:100%; }
#half { height:5%; }

input { font-size:1em; }
input[type=text], input[type=password]
{
  width:99%;
  border-radius:5px;
}

@media all and (min-height:700px) and (min-width:500px)
{
  #half { height:50%; }
  #signin
  {
    position:relative;
    top:-25em;
  }
  input
  {
    font-size:1.75em;
  }
}
#signin, #signup
{
  width:40%;
  min-width:190px;
  max-width:450px;
  margin:auto;
  background:#e3e3e3;
  border-radius:10px;
}
#su-half { height:5%; }
#signup
{
  width:50%;
  max-width:500px;
}

#signin-title 
{
  background:url(<%= asset_path 'nav_bar.png' %>) repeat-x top left; 
  border-radius:10px 10px 0 0;
  padding:3px;
  font-size:2em;
  position:relative;
}
#small-nav
{
  position:absolute; 
  font-size:.5em;
  padding:3px;
  bottom:0;
  right:0;
}
#signin-main
{
  padding:10px 10px 1px 10px;
}

div.left { float:left; }
div.right { float:right; }

#signin-actions, #signin-footer { padding:5px 0 5px 0; }
div.field.left label, #remember_me 
{ 
  vertical-align:middle;
}
#error_explanation
{
  width:auto;
  margin-top:10px;
}
#error_explanation h2 { font-size:1.5em; }
.phone-section
{
  width:auto !important;
}
.no-wrap { white-space:nowrap; }
