<%= render 'shared/error_messages', :object => @residence %>
<div class="clearfix">
  <div class="field float-left">
    <%= label_tag "Lot #" %><br />
    <%= f.text_field :lot_number, :size => 3, :maxlength => 3 %><br />
  </div>
  <div class="field float-left">
    <%= label_tag "Street #" %><br />
    <%= f.text_field :street_number, :size => 5, :maxlength => 10 %><br />
  </div>
</div>
<div class="field">
  <%= f.label :street_name %><br />
  <%= f.text_field :street_name %><br />
</div>
