<div id="copyright">
  Copyright © <%= DateTime.current.year -%> Ambleside -
  <%= mail_to 'ambleside.webmaster@gmail.com', 'Contact Webmaster',
    :encode => 'hex', :subject => 'amblesidecommunity.org website' %>
</div>
