<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag :application %>
  </head>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
  <body>
    <header class="clearfix">
      <div id="banner">
        <%= link_to logo, root_path, :id => 'logo' %>  
      </div>
      <%= render 'shared/navigation' %>      
    </header>
    <div class="base-container-wrapper">
      <%= if content_for?(:subnav) 
        yield(:subnav) 
      end %>
      <div class="base-container">
        <%= content_for?(:container) ? yield(:container) : yield %>
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </body>
</html>
