<% content_for :subnav do %>
<div class="subnav">
  <ul class="clearfix">
    <li>
      <h3><%= link_to 'Community', community_path,
        :class => selected == 'Community' ? "selected" : "" %></h3>
    </li>
    <li>
      <h3><%= link_to 'Residents', residents_path, 
        :class => selected == 'Residents' ? "selected" : "" %></h3>
    </li>
    <li>
      <h3><%= link_to 'Blog', posts_path,
        :class => selected == 'Blog' ? "selected" : "" %></h3>
    </li>
    <li>
      <h3><%= link_to 'Events', events_path,
        :class => selected == 'Events' ? "selected" : ""  %></h3>
    </li>
    <li>
      <h3><%= link_to 'Documents', documents_path,
        :class => selected == 'Documents' ? "selected" : ""  %></h3>
    </li>
    <li>
      <h3><%= link_to 'Dues', dues_path,
        :class => selected == 'Dues' ? "selected" : ""  %></h3>
    </li>
  </ul>
</div>
<% end %>
<%= render :template => 'layouts/application' %>
