<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= stylesheet_link_tag 'pages_minimal' %>
  </head>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>
  <div id="preloaded-images">
    <img src="//lh5.googleusercontent.com/-wpBsz8K5vgo/T6XA3h7Bg7I/AAAAAAAAABY/9iWZ3gZAL0k/s1000/isabella_green.png" />
    <img src="//lh5.googleusercontent.com/-NhCyDNcYPO0/T6XA23EwV2I/AAAAAAAAABM/bOYniIeSU_Y/s960/east_gate.png" />
    <img src="//lh4.googleusercontent.com/-8vXKi02WIvU/T6XA16Y30eI/AAAAAAAAAA4/9bhDpE0neYQ/s960/ducks.png" />
  </div>
  <body>
    <div id="backgrounds"></div>
    <div id="browser-warning">
      <p>
        It appears that you have a really old browser that will not render this site correctly.  Please consider upgrading to a standards compliant browser in order to have full functionality.
      </p>
      <p>
        I recommend Google Chrome or Firefox.  Here is a site that will help you pick the latest version: <a href="http://www.browsehappy.com" target="_blank" alt="Browse Happy">BrowseHappy.com</a>
      </p>
    </div>
    <div id="images-loading">
      <img height="64" width="64" src=<%= asset_path 'spinner.gif' %> />
    </div>
    <%= content_for?(:body) ? yield(:body) : nil %>
  </body>
  <%= javascript_include_tag :application %>
  <%= render 'layouts/js' %>
</html>
